---
const provinces = ['Provinsi 1', 'Provinsi 2', 'Provinsi 3'];
const cities = ['Kab/Kota 1', 'Kab/Kota 2', 'Kab/Kota 3'];
const sources = ['Sumberdana 1', 'Sumberdana 2', 'Sumberdana 3'];
---

<div
	class="grid grid-cols-1 gap-4 p-16 pt-10 pb-10 bg-white dark:bg-[#151419] w-full rounded-3xl mx-auto md:grid-cols-2"
>
	<!-- Provinsi Dropdown -->
	<div class="flex-1">
		<label
			for="provinsi"
			class="block mb-2 text-lg font-normal dark:text-gray-200"
		>
			Provinsi
		</label>
		<select
			id="provinsi"
			class="w-full p-4 border dark:border-none dark:text-gray-200 border-neutral-50 rounded-lg bg-neutral-100 dark:bg-[#1f1e25] focus:outline-none focus:ring-0 focus:border-transparent"
		>
			<option value="" disabled selected>- Belum Memilih -</option>
			{
				provinces.map((province) => (
					<option value={province}>{province}</option>
				))
			}
		</select>
	</div>

	<!-- Kab/Kota Dropdown -->
	<div class="flex-1">
		<label for="city" class="block mb-2 text-lg font-normal dark:text-gray-200">
			Kab / Kota
		</label>
		<select
			id="city"
			class="w-full p-4 border dark:border-none dark:text-gray-200 border-neutral-50 rounded-lg bg-neutral-100 dark:bg-[#1f1e25] focus:outline-none focus:ring-0 focus:border-transparent"
		>
			<option value="" disabled selected>- Belum Memilih -</option>
			{cities.map((city) => <option value={city}>{city}</option>)}
		</select>
	</div>

	<!-- Sumberdana Dropdown (Full width) -->
	<div class="col-span-2 mt-3">
		<label
			for="source"
			class="block mb-2 text-lg font-normal dark:text-gray-200"
		>
			Pilih Sumberdana
		</label>
		<select
			id="source"
			class="w-full p-4 border dark:border-none dark:text-gray-200 border-neutral-50 rounded-lg bg-neutral-100 dark:bg-[#1f1e25] focus:outline-none focus:ring-0 focus:border-transparent"
		>
			<option value="" disabled selected>- Belum Memilih -</option>
			{sources.map((source) => <option value={source}>{source}</option>)}
		</select>
	</div>

	<!-- Apply Button -->
	<div class="col-span-2 mt-4 flex justify-end">
		<button
			class="px-6 py-2 text-white hover:scale-95 duration-150 bg-blue-500 hover:bg-blue-600 rounded-lg transition"
		>
			Terapkan
		</button>
	</div>
</div>

<style>
	@media (max-width: 768px) {
		.grid {
			grid-template-columns: 1fr;
		}
	}
</style>
